.App {
    text-align: center;
    background-size: cover;
    background: url("https://cn.bing.com/th?id=OHR.SGIMontenegro_EN-US4280095085_UHD.jpg") no-repeat center center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: rgba(1, 1, 1, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-home {
    font-size: calc(10px + 20vmin);
    margin-top: 0;
    margin-bottom: 3%;
    text-align: center;
    color: white;
}

.App-name {
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}